{"openapi":"3.1.0","info":{"title":"Content API","version":"1.0.0"},"servers":[{"url":"https://content.api.aampe.com","description":"Aampe Content API"}],"paths":{"/health":{"get":{"tags":["Health"],"summary":"Get Health","operationId":"get_health_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponse"}}}}}}},"/v1/surface/content":{"get":{"tags":["Surface"],"summary":"Get surface content","description":"retrieves content for a user based on their contact ID and specified surface\nIDs, while also handling authentication and error cases.","operationId":"get_surface_content_v1_surface_content_get","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"contact_id","in":"query","required":true,"schema":{"type":"string","title":"Contact ID","description":"The ID of the user for which you want to retrieve content."},"description":"The ID of the user for which you want to retrieve content."},{"name":"surface_id","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"title":"Surface IDs","description":"The UUID v4 IDs of the surfaces for which you want to retrieve content."},"description":"The UUID v4 IDs of the surfaces for which you want to retrieve content."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SurfaceContentResponse"},"title":"Response Get Surface Content V1 Surface Content Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"HealthResponse":{"properties":{"status":{"type":"string","title":"Status"}},"type":"object","required":["status"],"title":"HealthResponse"},"SurfaceAlternate":{"properties":{"alternate_assignment_id":{"type":"string","format":"uuid","title":"Alternate Assignment Id","description":"Assignment ID for the alternate","example":"9a35e6f9-8e82-45a1-a62c-efadd82cfb44"}},"additionalProperties":true,"type":"object","required":["alternate_assignment_id"],"title":"SurfaceAlternate"},"SurfaceContentResponse":{"properties":{"surface_id":{"type":"string","format":"uuid","title":"Surface Id","description":"UUID v4 id for the surface","example":"faebe63c-621e-4649-a049-7d1c25191cc6"},"assignment_id":{"type":"string","format":"uuid","title":"Assignment Id","description":"UUID v4 id for the content assignment","example":"61be581d-2443-4470-955b-e43e30cd348a"},"n_alternates":{"type":"integer","title":"N Alternates","description":"Total number of alternates","example":1},"control":{"$ref":"#/components/schemas/SurfaceControl"},"alternates":{"items":{"$ref":"#/components/schemas/SurfaceAlternate"},"type":"array","title":"Alternates"}},"type":"object","required":["surface_id","assignment_id","n_alternates","control","alternates"],"title":"SurfaceContentResponse"},"SurfaceControl":{"properties":{"min_gap_days":{"type":"integer","title":"Min Gap Days","description":"Gap in between","example":1}},"type":"object","required":["min_gap_days"],"title":"SurfaceControl"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"X-API-Key"}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}